.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    width: 30rem;
    height: 40rem;
}

.App {
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 6.2rem;
    width: 25rem;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 50px;
}

.logo-container {
    margin: 1rem auto 1rem auto;
}

.numBtn {
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 5.2rem;
    background: darkblue;
    color: white;
    font-size: 2rem;
}

.splBtn {
    background: lightskyblue;
    color: white;
    font-size: 2rem;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 5.2rem;
}

.opBtn {
    background: skyblue;
    color: white;
    font-size: 2rem;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 5.2rem;
}

.display-row {
    display: flex;
}

.btnDiv {
    display: flex;
    margin: 1rem 1rem auto 1rem;
}
